In [ ]:
'Hola'

In [ ]:
"Hola Mundo"

In [ ]:
'Este texto incluye unas comillas " "'

In [ ]:
"Esta 'palanra' Se encuentra entre comillas simples"

In [1]:
"Esa "palabra" se encuentra entre comillas dobles"

SyntaxError: invalid syntax (3346847770.py, line 1)

In [ ]:
"una cadena"
'una cadena'

In [3]:
print("Esto es una cadena")

Esto es una cadena

In [2]:
print("Un texto/tEsto es tabulacion")

Un texto/tEsto es tabulacion

In [ ]:
print("Un testo /n una nueva linea")

In [ ]:
print("C:/nombre/carpeta")

In [ ]:
# r permite mostrar datos en crudo ... es decir la diagonal inversa tal como es


print(r"C:/nombre/carpeta")

In [ ]:
c="Esto es una cadena /n con dos lineas"

In [ ]:
print(c+c)

In [ ]:
s="Una cadena" "Compuesta de 2 cadenas"

print(s)

In [ ]:
c1= "Una cadena"
c2 = "Otra cadena"
c3 = c1 + c2
print(c3)

In [ ]:
palabra="python"

In [ ]:
palabra[0]

In [ ]:
palabra[-1]

In [ ]:
palabra[-2]

In [ ]:
palabra[0:2]

# sirve apra substraer una cadena, primer parametro inclusivo, ultimo exclusivo del rango

In [ ]:
palabra[:]
# si no indicamos el rango se retorna todo

In [ ]:
palabra[99]

# Indice fuera de rango

In [ ]:
palabra[:99]

# como no llega a 99 se imprime toda la cadena

In [ ]:
palabra= "n" + palabra[1:]

In [ ]:
len(palabra)